<!--
Modify the Resume insert form so that it allows user to
-->

<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>



<h1>Add New Resume</h1>
<form action="/resume/insert" method="get">
    Resume Name: <input id="resume_name" name="resume_name" type="text" />
    <br />
    <br />

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#players_id').multiselect();
        });
    </script>

    <!-- select players -->

    Last Name:
    <select id="players_id" name="players_id" multiple="multiple">
        <% for(var i=0; players.length > i; i++ ) { %>
        <option value="<%= players[i].players_id %>"> <%= players[i].last_name %></option>
        <% } %>
    </select>

    <br />
    <br />
    <br />


    <!-- select multiple skills -->

    Skills:
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();
        });
    </script>

    <select id="skill_id" name="skill_id" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skill_id %>"> <%= skill[i].name %></option>
        <% } %>
    </select>

    <br />
    <br />
    <br />


    <!-- multiple companies -->
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();
        });
    </script>

    Company:
    <select id="company_id" name="company_id" multiple="multiple">
        <% for (var i=0; company.length > i; i++) { %>
        <option value="<%= company[i].company_id %>"> <%= company[i].company_name %></option>
        <% } %>
    </select>

    <br />
    <br />
    <br />


    <!-- multiple teams -->
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#team_id').multiselect();
        });
    </script>

    team:
    <select id="team_id" name="team_id" multiple="multiple">
        <% for (var i=0; team.length > i; i++) { %>
        <option value="<%= team[i].team_id %>"> <%= team[i].team_name %></option>
        <% } %>
    </select>


    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>